<%= form_for(Tag.new) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  	<%= f.text_area :title, placeholder: "New tag..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>