    <!-- main right col -->
            <div class="column col-sm-12 col-xs-12" id="main">
                
                <!-- top nav -->
              	<div class="navbar navbar-blue navbar-static-top">  

                    <div class="navbar-header">
                      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle</span>
                        <span class="icon-bar"></span>
          				<span class="icon-bar"></span>
          				<span class="icon-bar"></span>
                      </button>
                      <a href="/" class="navbar-brand logo">C</a>
                  	</div>

                  <nav class="collapse navbar-collapse" role="navigation">
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
			<li>
                        <span class="btn btn-default navbar-btn"><%= link_to "Sign Up", signup_path %></span>
                      </li>
			<li>
                        <span class="btn btn-default navbar-btn"><%= link_to "Log In", login_path %></span>
                      </li>
     			 
                    </ul>
                  </nav>

                </div>
                <!-- /top nav -->
			

<div class="row col-md-12">
  <div class="col-md-1 "> </div>
  <div class ="col-md-10">
	 <img src="help.jpg" class ="img-responsive">
  </div>
  <div class="col-md-1 "> </div>
</div>
  <div class="col-md-12">
	<h1 align="center">Being productive has never been this easy</h1>
  </div>
<br> <br>
<div class="row col-md-12">
<br>
	<div class="col-md-4">
	 <img src="distractions.jpg" class="img-responsive">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel molestie enim. </img>
	</div>

	<div class="col-md-4">
	<img src="forgeting.jpg" class="img-responsive">Curabitur fermentum fermentum ipsum a scelerisque. Morbi nunc diam, rhoncus ac dui vel, dignissim bibendum elit. Vivamus nulla felis, dapibus eget ante eu, molestie aliquam tortor.</img>
	</div>

	<div class="col-md-4">
	 <img src="agenda.jpg" class="img-responsive">Mauris scelerisque orci vel urna lacinia accumsan. Vivamus maximus ullamcorper finibus. Etiam facilisis nunc eget dui placerat ultrices. </img>
	</div>

</div>
