<div class="wrapper">
    <div class="box">
        <div class="row row-offcanvas row-offcanvas-left">

    <!-- main right col -->
            <div class="column col-sm-12 col-xs-12" id="main">
                
                <!-- top nav -->
              	<div class="navbar navbar-blue navbar-static-top">  
                    <div class="navbar-header">
                      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle</span>
                        <span class="icon-bar"></span>
          				<span class="icon-bar"></span>
          				<span class="icon-bar"></span>
                      </button>
                      <a href="/" class="navbar-brand logo">C</a>
                  	</div>
                  	<nav class="collapse navbar-collapse" role="navigation">
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
			<li>
                        <span class="badge"><%= link_to "Sign Up", signUp_path %></span>
                      </li>
			<li>
                        <span class="badge"><%= link_to "Log In", logIn_path %></span>
                      </li>
      <li>
                        <span class="badge"><%= link_to "Activity", activity_path %></span>
                      </li>
                    </ul>
                  	</nav>
                </div>
                <!-- /top nav -->
        </div>

</div></div></div>
