    <!-- main right col -->
            <div class="column col-sm-12 col-xs-12" id="main">
                
                <!-- top nav -->
              	<div class="navbar navbar-blue navbar-static-top">  

                    <div class="navbar-header">
                      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle</span>
                        <span class="icon-bar"></span>
          				<span class="icon-bar"></span>
          				<span class="icon-bar"></span>
                      </button>
                      <a href="/" class="navbar-brand logo">C</a>
                  	</div>

                  <nav class="collapse navbar-collapse" role="navigation">
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
			<li>
                        <span class="badge"><%= link_to "Sign Up", signUp_path %></span>
                      </li>
			<li>
                        <span class="badge"><%= link_to "Log In", logIn_path %></span>
                      </li>
     			 <li>
                        <span class="badge"><%= link_to "Activity", activity_path %></span>
                      </li>
                    </ul>
                  </nav>

                </div>
                <!-- /top nav -->
			
<div class="row">
	<img src="help.jpg"/ class ="img-responsive">
</div>
	<h1 align="center">Being productive have never been this easy!</h1>
<br> <br> <br>
<div class="row">
<br>
	<div class="col-md-4">
	 <img src="distractions.jpg" class="img-responsive">Helllloasasasasas asnas fsnsd sds ds ds ds  sd ada d a </img>
	</div>

	<div class="col-md-4">
	<img src="forgeting.jpg" class="img-responsive">Helllloasasasasas asnas fsnsd sds ds ds ds  sd ada d a </img>
	</div>

	<div class="col-md-4">
	 <img src="agenda.jpg" class="img-responsive">Helllloasasasasas asnas fsnsd sds ds ds ds  sd ada d a </img>
	</div>

</div>
