<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi,<%=@user.name%></h1>
    	You recently created a task. Visit us at http://localhost:3000 to look for the new task.
  </body>
</html>