<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Concrastinator.com, <%= @user.name %></h1>
    <p>
    Concrastinator is a page which helps you organize the tasks you need to complete before a certain time. No matter what is your lifestyle, Cocrastinator won't stop from helping you to finish all your duties in time.
    </p>
    <h2> Features</h2>
    <ul>
    	<li> A beautiful webpage with responsive design </li>
    	<li> Unlimited number of tasks in your account </li>
    	<li> Notifications </li>
    	<li> And more! </li>
    </ul>
    <p>
      To login to the site, just type http://localhost:3000
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>