<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-blue navbar-static-top">
<a class="navbar-brand logo" href="www.google.com.mx">Icd</a>
<ul class="nav navbar-nav navbar-right">e</ul>
</div>
<%= yield %>

</body>
</html>
