<!DOCTYPE html>
<html>
<head>
  <title>Concrastinator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
      <div id="footer">
         <p> Concrastinator © 2015</p>	
      </div>
</body>
</html>